<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Mentor</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 class="gradient-text"> Project Mentor</h1>
    <div class="box">
        <input id="searchInput" type="text" placeholder="Describe your project...">
        <a href="#">
            <i class="fas fa-search"></i>
        </a>
        <button id="submitBtn" class="button">Submit</button>
    </div>
        <div class="info">
            <label for="LengthofPlan">Desired Length of the Plan</label>
            <select id="LengthofPlan" name="Length">
            <option value="sh">Short</option>
            <option value="med">Medium</option>
            <option value="long">Long</option>   
            </select>
        </div>
<script src="script.js"></script>  
</body>  